{%  extends  "base.html"  %}
    {%  block  content  %}
        <h1>
            {{  author.name  }}
                {%  if  user  ==  author.user  %}
                    (<a  href="{%  url  'booksList:author_edit'  author.id  %}">edit</a>)
                {%  endif  %}
        </h1>
        <h2>
            Age:
        </h2>
            <p>
                {{  author.age  }}
            </p>
        <h2>
            Country:
        </h2>
            <p>
                {{  author.country  }}
            </p>
        <h2>
            Nacionality:
        </h2>
            <p>
                {{  author.nacionalidad  }}
            </p>
        <h2>

<h2>Reviews</h2>
    <ul>
        {%  for  review  in  author.AuthorReview_set.all  %}
            <li>
                <p>{{  review.rating  }}  star{{  review.rating|pluralize  }}</p>
                <p>{{  review.comment  }}</p>
                <p>Created  by  {{  review.user  }}</p>
            </li>
        {%  endfor  %}
    </ul>
        <h3>Add Review</h3>
            <form  action="{%  url  'booksList:review_create'  author.id  %}"  method="post">
            {%  csrf_token  %}
                Message:  <textarea  name="comment"  id="comment"  rows="4"></textarea>
                <p>Rating:</p>
                <p>{%  for  rate  in  RATING_CHOICES  %}
                    <input  type="radio"  name="rating"  id="rating{{  forloop.counter  }}"  value="{{  rate.0}}"  />
                    <label  for="choice{{  forloop.counter  }}">{{  rate.1}}  star{{  rate.0|pluralize  }}</label>
                    <br/>
                {%  endfor  %}
                </p>
            <input  type="submit"  value="Review"  />
            </form>
    {%  endblock  %}
{%  block  footer  %}
    Created  by  {{  author.user  }}
{%  endblock  %}
