{%  extends  "base.html"  %}
    {%  block  content  %}
        <h1>
            {{  author.name  }}
                {%  if  user  ==  author.user  %}
                    (<a  href="{%  url  'booksList:author_edit'  author.id  %}">edit</a>)
                    (<a  href="{%  url  'booksList:author_delete'  author.id  %}">delete</a>)
                {%  endif  %}
        </h1>
        <h2>
            Age:
        </h2>
            <p>
                {{  author.age  }}
            </p>
        <h2>
            City:
        </h2>
            <p>
                {{  author.city  }}
            </p>
        <h2>
            County:
        </h2>
            <p>
                {{  author.country  }}
            </p>
        <h2>
            State:
        </h2>
            <p>
                {{  author.state  }}
            </p>
        <h2>
    {%  endblock  %}
{%  block  footer  %}
    Created  by  {{  author.user  }}
{%  endblock  %}
