{%  extends  "base.html"  %}
    {%  block  content  %}
        <h1>
            Author
            {%  if  user.is_authenticated %}
                (<a  href="{%  url  'booksList:author_create'  %}">add</a>)
            {%  endif  %}
        </h1>
        <ul id="list_elem_ul">
            {%  for  author  in  latest_author_list  %}
                <li id="list_elem">
                    <a  href="{%  url  'booksList:author_detail'  author.id  %}"> {{  author.name  }}
                    </a>
                </li>
            {%  empty  %}
                <li>Sorry,  no  author  registered  yet.</li>
            {%  endfor  %}
        </ul>
    {%  endblock  %}
