{%  extends  "base.html"  %}
    {%  block  content  %}
        <h1>
            Books
            {%  if  user.is_authenticated  %}
                (<a  href="{%  url  'booksList:books_create'  %}">add</a>)
            {%  endif  %}
        </h1>
        <ul id="list_elem_ul">
            {%  for  books  in  latest_books_list  %}
                <li id="list_elem">
                    <a  href="{%  url  'booksList:books_detail'  books.id  %}"> {{  books.title  }}
                    </a>
                </li>
            {%  empty  %}
                <li>Sorry,  no  books  registered  yet.</li>
            {%  endfor  %}
        </ul>
    {%  endblock  %}
